### GENERAL

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.supported

# common code editors
.atom/
.vscode/

# NetBeans
nbproject/private/

# JetBrains IDEs
# see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/usage.statistics.xml
**/.idea/shelf/
**/.idea/httpRequests/
**/.idea/dataSources/
**/.idea/dataSources.local.xml
captures

# common files
*.log


### PROJECT

# colcon workspace
/log/
/ws/log/
/ws/install/
/ws/build/
/ws/.env

# symlink to ws/build/compile_commands.json for easily opening the project
# in CLion as "Compilation Database Project"
/compile_commands.json
# note: in the future, we might it version
/.idea/

# Python caches
__pycache__
*~
*.pyc

# original ROS 1 f1tenth
/ws/original/
/original/
