<?xml version="1.0"?>
<!--
	Author: Jaroslav Klapálek <klapajar@fel.cvut.cz>
	Description: Run Follow The Gap algorithm and all required nodes.
	TODO: port to ROS 2
-->
<launch>

	<!-- sensors -->
	<include file="$(find launchers)/launch/sensors.launch">
		<arg name="run" value="lidar"/>
	</include>

	<!-- behaviour -->
	<include file="$(find follow_the_gap_v0)/launch/start.launch"/>

	<!-- vehicle platform -->
	<include file="$(find teensy)/launch/start.launch"/>
	<include file="$(find drive_api)/launch/start.launch"/>

</launch>
