<?xml version="1.0"?>
<!--
	Author: Jaroslav Klapálek <klapajar@fel.cvut.cz>
	Description: Launch a node which runs other nodes.
	TODO: port to ROS 2
-->
<launch>

	<arg name="run" doc="Name of a sensor/sensors delimited by `;`."/>

	<node pkg="launchers" type="launch_sensors.py" name="$(anon launch_sensors)" output="screen" args="$(arg run)"/>
	
</launch>
