<?xml version="1.0"?>
<!--
	Author: Jaroslav Klapálek <klapajar@fel.cvut.cz>
	Description: Launches stage simulator with selected configuration.

	Notes:
	  - This is supposed to be used as a quick sample for demonstrating Stage simulator.
	  - Configuration with two cars is expected.
	  - This is configuration for showing off solving of intersections.
	  - Stage simulator is not launched, you have to launch it via 'stage.launch'.

	Stage -> (Recognition) obstacle_substitution -> (Planner) scan_regression -> Drive-API
	                                             ->    intersection_solver    ->
	TODO: port to ROS 2
-->
<launch>

	<!--<arg name="world" default="intersection_complex" doc="Name of a world within 'stage_worlds' (storage/stage/world)" />-->
	<arg name="rviz" default="false" doc="Set to true if launching pre-set rViz is required"/>
	<arg name="map_name" default="intersection_complex" doc="Name of a map within 'maps' (storage/stage/map)"/>
	<arg name="map" default="false" doc="Set to true if launching map_server with map is required"/>

	<node
		pkg="map_server"
		type="map_server"
		name="map_server_pub"
		args="$(find storage)/stage/map/$(arg map_name).yaml"
		if="$(arg map)"
	/>
	<node
		pkg="tf"
		type="static_transform_publisher"
		name="tf_map_to_odom"
		args="0 0 0 0 0 0 odom map 100"
		if="$(arg map)"
	/>

	<group ns="/robot_0">
		<!-- Note: Parameters are required by Drive-API, but we don't care about their value here. -->
		<rosparam command="load" file="$(find launchers)/../configs/tx2-auto.cfg"/>

		<include file="$(find obstacle_substitution)/launch/start.launch">
			<arg name="remap" value="true"/>
			<arg name="/scan" value="base_scan"/>
			<arg name="/obstacles" value="obstacles"/>
			<arg name="anonymous" value="true"/>
		</include>

		<include file="$(find scan_regression)/launch/start.launch">
			<arg name="remap" value="true"/>
			<arg name="/obstacles" value="obstacles"/>
			<arg name="/scan_regression/pose" value="pose"/>
			<arg name="/drive_api/command" value="command"/>
			<arg name="anonymous" value="true"/>
		</include>

		<include file="$(find drive_api)/launch/start.launch">
			<arg name="remap" value="true"/>
			<arg name="/drive_api/command" value="drive_api/command"/>
			<arg name="/cmd_vel" value="cmd_vel"/>
			<arg name="/eStop" value="eStop"/>
			<arg name="anonymous" value="true"/>
		</include>

		<include file="$(find intersection_solver)/launch/start.launch">
			<arg name="remap" value="true"/>
			<arg name="/odom1" value="odom"/>
			<arg name="/odom2" value="/robot_1/odom"/>
			<arg name="/eStop" value="eStop"/>
			<arg name="/command" value="command"/>
			<arg name="/drive_api/command" value="drive_api/command"/>
			<arg name="/tag_detections" value="tag_detections"/>
			<arg name="names" value="car1 car2"/>
		</include>

		<include file="$(find apriltags_reader)/launch/start.launch">
			<arg name="camera_name" value="/robot_0"/>
			<arg name="image_topic" value="image"/>

			<arg name="remap" value="true"/>
			<arg name="/tag_detections" value="tag_detections"/>
			<arg name="/tag_detections_image" value="tag_detections_image"/>
		</include>
	</group>

	<group ns="/robot_1">
		<rosparam command="load" file="$(find launchers)/../configs/tx2-auto.cfg"/>

		<include file="$(find obstacle_substitution)/launch/start.launch">
			<arg name="remap" value="true"/>
			<arg name="/scan" value="base_scan"/>
			<arg name="/obstacles" value="obstacles"/>
			<arg name="anonymous" value="true"/>
		</include>

		<include file="$(find scan_regression)/launch/start.launch">
			<arg name="remap" value="true"/>
			<arg name="/obstacles" value="obstacles"/>
			<arg name="/scan_regression/pose" value="pose"/>
			<arg name="/drive_api/command" value="command"/>
			<arg name="anonymous" value="true"/>
		</include>

		<include file="$(find drive_api)/launch/start.launch">
			<arg name="remap" value="true"/>
			<arg name="/drive_api/command" value="drive_api/command"/>
			<arg name="/cmd_vel" value="cmd_vel"/>
			<arg name="/eStop" value="eStop"/>
			<arg name="anonymous" value="true"/>
		</include>

		<include file="$(find intersection_solver)/launch/start.launch">
			<arg name="remap" value="true"/>
			<arg name="/odom1" value="odom"/>
			<arg name="/odom2" value="/robot_0/odom"/>
			<arg name="/eStop" value="eStop"/>
			<arg name="/command" value="command"/>
			<arg name="/drive_api/command" value="drive_api/command"/>
			<arg name="/tag_detections" value="tag_detections"/>
			<arg name="names" value="car2 car1"/>
		</include>

		<include file="$(find apriltags_reader)/launch/start.launch">
			<arg name="camera_name" value="/robot_1"/>
			<arg name="image_topic" value="image"/>

			<arg name="remap" value="true"/>
			<arg name="/tag_detections" value="tag_detections"/>
			<arg name="/tag_detections_image" value="tag_detections_image"/>
		</include>
	</group>

	<node
		pkg="rviz"
		type="rviz"
		name="rviz_two_cars"
		args="-d $(find storage)/rviz/stage_sample_two_cars.rviz"
		if="$(arg rviz)"
	/>

	<!-- At the end of the launch file it is more likely to properly startup. -->
	<!--<node pkg="stage_ros" type="stageros" name="stage_simulator" output="screen" args="$(find storage)/stage/world/$(arg world).world" />-->
	<!-- TODO launch it separately :( -->

</launch>
