<?xml version="1.0"?>
<!--
	Author: Jaroslav Klapálek <klapajar@fel.cvut.cz>
	Description: Launches stage simulator with selected configuration.

	Note: This is supposed to be used as a quick sample for demonstrating Stage simulator.

	Stage -> (Recognition) obstacle_substitution -> (Planner) scan_regression -> Drive-API

	TODO: port to ROS 2
-->
<launch>

	<arg name="world" default="test_track" doc="Name of a world within 'stage_worlds' (storage/stage/world)"/>
	<arg name="rviz" default="false" doc="Set to true if launching pre-set rViz is required"/>

	<node
		pkg="stage_ros"
		type="stageros"
		name="stage_simulator"
		output="screen"
		args="$(find storage)/stage/world/$(arg world).world"
	/>

	<rosparam command="load" file="$(find launchers)/../configs/tx2-auto.cfg"/>

	<include file="$(find obstacle_substitution)/launch/start.launch">
		<arg name="remap" value="true"/>
		<arg name="/scan" value="/base_scan"/>
	</include>

	<include file="$(find scan_regression)/launch/start.launch"/>

	<include file="$(find drive_api)/launch/start.launch">
		<arg name="simulation" value="true"/>
	</include>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find storage)/rviz/stage_sample.rviz" if="$(arg rviz)"/>

</launch>
