<?xml version="1.0"?>
<!--
	Author: Jaroslav Klapálek <klapajar@fel.cvut.cz>
	Description: Launches stage simulator with selected configuration.
	TODO: port to ROS 2
-->
<launch>

	<arg name="world" doc="Name of a world within 'stage_worlds' (storage/stage/world)"/>

	<node
		pkg="stage_ros"
		type="stageros"
		name="stage_simulator"
		output="screen"
		args="$(find storage)/stage/world/$(arg world).world"
	/>

</launch>
